.home {
  text-align: center;
  padding-top: 5%;
}

.review-text {
  text-align: center;
}

.justify {
  text-align: justify;
}

.title-input {
  width: 90%;
}

h3.user-form {
  text-align: center;
}
