<div class="col-md-4 reviews">
  <ul>
    <li ng-repeat="item in reviews">
      <a ui-sref="reviews.text({ reviewTitle: item.title })">{{ item.title }}</a>
    </li>
  </ul>
</div>

<div class="col-md-8" ui-view="body"></div>

<br>
<div ng-controller="ReviewsCtrl" class="user-form">
  <h3>Create New Movie Review</h3>
  <form ng-submit="ReviewsFactory.addReview()"  role="form" id="user-input">
    <div class="form-group">
      <input type="text" ng-model="ReviewsFactory.reviewTitle" class="form-control" placeholder="Enter the title for the review here" required>
    </div>
    <div class="form-group">
      <input type="text" ng-model="ReviewsFactory.reviewText" class="form-control" placeholder="Enter review here" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <!-- <textarea form="user-input" name="comment" ng-model"ReviewsFactory.text">Enter review here</textarea> -->
</div>
