<!-- Shows reviews -->
<div class="col-md-4 reviews">
  <ul>
    <li ng-repeat="item in reviews">
      <a ui-sref="reviews.text({ reviewTitle: item.title })">{{ item.title }}</a>
    </li>
  </ul>
</div>

<!-- Individual review view -->
<div class="col-md-8" ui-view="body"></div>

<!-- This div is for formatting -->
<div class="col-md-4"></div>

<!-- User review submission -->
<div class="col-md-8">
  <h3 class="user-form">Create New Movie Review</h3>
  <form ng-submit="ReviewsFactory.addReview()"  role="form" id="user-input">
    <div class="form-group">
      <input type="text" class="title-input" ng-model="ReviewsFactory.reviewTitle" class="form-control" placeholder="Enter the title for the review here" required>
    </div>
    <div class="form-group">
      <input type="text" ng-model="ReviewsFactory.reviewText" class="form-control" placeholder="Enter review here" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
